List of Documents
 <ol>
   <!-- if there is anything(objects) in the array, iterate through it, and print out each document name along with link to email documents ) -->

   <% if @documents_in_my_cart %>
  <% @documents_in_my_cart.each do |document| %>
   <%= document.name %> <br>
      <% end %>
  <%= link_to "Email Documents" %>
    <% end %>
</ol>


<table style="width:100%">
  <tr>
    <th>Document Name</th>
    <th>Document Link</th>
  </tr>

  <!-- iterates through all documents(of current_user) and set a link to for each one, goes to send_data path, (documents #show) -->
  <!-- button to - add doc to my cart - which gors to update action of cart - the params (id of each doc is accesxsible, so sending params to controller,) ) -->

 <% @documents.map do |document| %>
  <tr> <td> <%= link_to document.name, send_data_path %> </td>
  <td> <%= button_to "Add doc to my cart", add_document_to_cart_path, {method: :patch, params: {id: document.id}} %> </td>
  </tr>
<% end %>
