
<center> <p> <pre> Symphony School of Arts was founded in 2009. <br> It currently has campuses in United States, Eurupe and Asia. <br> It currently has 50 instructors. Symphony Schools of Music's instructors have attended prestigious music schools. </p> </pre> </center>

<center><%= link_to "Login", new_session_path %> </center>
<center> <%= link_to "Register New Student", new_student_path %> </center>
