<center> <h2> Reschedule an Appointment </h2> </center>


  <%= button_to "Back to Student Menu", student_path(current_user.id), :method => :get %> <br>
        <!--  Button -  Takes student back to student_menu  -->

    <!-- Appointment form - rendering the partial  -->
   <%= render "form" %>
